@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h1 {
  font-size: 3rem; 
  color: white;
  border-bottom: 1px solid black; 
  font-weight: 300; 
  text-transform: uppercase; 
  letter-spacing: 5px; 
  margin-top: 50px; 
  margin-bottom: 50px; 
  font-family: 'Roboto', sans-serif; 
  transition: transform 0.3s ease-in-out; 
  text-align: center;
  background-image: url('./header-background.webp');
  background-size: cover; /* Cover the entire space of the element */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the background image */
  width: 100%; /* Set width to 100% of the parent element */
  height: 100px; /* Set a specific height or as needed */
  display: flex; /* Use flex to center content, if necessary */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Ensure text is centered */
  margin: 0; /* Remove default margin */
  padding: 20px 0; /* Add some padding as needed */
  animation: fadeInDown 1s ease-out forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.highlight:hover {
  color: #1DB954; /* Spotify green or your chosen highlight color */
  font-size: 3.2rem;
}


.App {
  display: flex; /* Use flexbox to arrange components */
  flex-direction: column; /* Arrange components vertically */
  align-items: center; /* Center components horizontally */
  height: 100vh; /* Full viewport height */
  padding: 20px; /* Padding around the app */
  background: linear-gradient(to right, #654ea3, #eaafc8); 
}


/* Search Bar styles */
.SearchBar {
  margin-bottom: 40px; /* Space below the search bar */
}

.ResultsPlaylist-container {
  display: flex; /* Flexbox for inner containers */
  justify-content: center;
  width: 100%; /* Full width */
  height: calc(100vh - 140px); /* Adjusted for header/search height */
}

.SearchResults {
  flex: 1; /* Take up half the width */
  width: 500px; /* Ensure the container shrinks to fit content */
  overflow-y: auto; /* Scroll if content overflows */
  padding: 20px;
  background-color: #fff; /* For visibility */
  border-radius: 5px; /* Rounded corners */
  margin-right: 20px; /* Space between results and playlist */

  
}

.Playlist {
  overflow-y: auto; /* Scroll if content overflows */
  padding: 20px;
  background-color: #fff; /* For visibility */
  border-radius: 5px; /* Rounded corners */
  width: 500px;

  
}



.SearchBar input,
.SearchBar button,
.TrackList .Track button {
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.SearchBar input {
  width: 300px;
  margin-right: 5px;
}

.SearchBar button {
  background-color: #1DB954; /* Spotify green or your chosen button color */
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.SearchBar button:hover {
  background-color: #14843e; /* Darker shade for hover state */
}

.TrackList .Track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0;
}

.TrackList .Track button {
  background-color: #1DB954; /* Spotify green or your chosen button color */
  color: #ffffff;
  width: 30px;
  height: 30px;
}

.TrackList .Track button:hover {
  background-color: #14843e; /* Darker shade for hover state */
}





/* Additional styling for scrollbar */
.SearchResults::-webkit-scrollbar,
.Playlist::-webkit-scrollbar {
  width: 10px;
}

.SearchResults::-webkit-scrollbar-track,
.Playlist::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.SearchResults::-webkit-scrollbar-thumb,
.Playlist::-webkit-scrollbar-thumb {
  background: #888;
}

.SearchResults::-webkit-scrollbar-thumb:hover,
.Playlist::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .SearchBar input {
    width: 80%;
  }
}